:root {
  --border: black;
  --gutter: 0.5rem;
  --pad: 0.5rem;
  --ease: ease-in-out;
}

body {
  font-family: system-ui;
  font-size: 16px;
  overflow-wrap: break-word;
  word-break: break-all;
  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
}

* {
  box-sizing: border-box;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;

  margin: var(--pad) calc(-1 * var(--gutter));
  width: 90%;
}

